*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

body {
    font-family: 'Nunito', sans-serif;
}

/*----------  Contenedor Principal  ----------*/
.container {
    display: grid;
    grid-template-areas: "header"
                         "products"
                         "footer";
}

/*----------  seccion del header  ----------*/
.head {
    background-color: rgb(225, 255, 237);
    padding: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 2px 3px rgba(128, 128, 128, 0.472);
    grid-area: header;
}

.head h1 {
    display: inline-block;
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
    color: rgb(5, 82, 226);
    text-align: center;
    font-weight: 900;
}

/*----------  seccion de productos  ----------*/
.containerProducts {
    grid-area: products;
}


/*----------  Seccion Pie de pagina  ----------*/
.copy {
    grid-area: footer;
}


