:root {
    --head-bg-color: #fff8d5;
    --color-primary: #F29F05;
    --color-secondary: #D97B29;
    --color-info: #F2955E;
}

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

/*----------  Contenedor Principal  ----------*/
.container {
    display: grid;
    grid-template-areas: "header"
                         "products"
                         "footer";
}

/*----------  seccion del header  ----------*/
.head {
    background-color: var(--head-bg-color);
    padding: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 2px 1px rgba(128, 128, 128, 0.472);
    grid-area: header;
}

.head h1 {
    display: inline-block;
    border-top: 4px solid var(--color-primary);
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-primary);
    text-align: center;
    font-weight: 900;
}

/*----------  seccion de productos  ----------*/
.containerProducts {
    grid-area: products;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerProducts article {
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 0 3px  rgba(128, 128, 128, 0.472);
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    margin-right: 50px;
}

.containerProducts article:nth-child(even){
    margin-right: 0;
}

.containerProducts article img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.containerProducts article div:nth-child(2) {
    position: relative;
    top: -51px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-info);
    border-radius: 50% 10%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerProducts article div:nth-child(2) h3 {
    color: #fff;
}

.containerProducts article div:nth-child(3) {
    margin-top: -35px;
}

.containerProducts article div:nth-child(3) h2{
    color: var(--color-primary);
    font-weight: 700;
}

.containerProducts article div:nth-child(4) p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.containerProducts article div:nth-child(5) i{
    color: var(--color-info);
}

.containerProducts article div:last-child {
    margin-top: 15px;
}

.containerProducts article a {
    padding: 10px;
    background-color: var(--color-secondary);
    border-radius: 0 0 10px 10px;
    color: white;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    transition: 0.3s all;
}

.containerProducts article a:hover {
    background-color: var(--color-primary);
}

/*----------  Seccion Pie de pagina  ----------*/
.copy {
    grid-area: footer;
}


/*----------  Media Query  ----------*/
@media (max-width: 768px){
    .containerProducts article {
        margin-right: 0;
    }
}
